<?xml version="1.0"?>
<!--
/**
 * integer_net Magento Module
 *
 * @category    IntegerNet
 * @package     IntegerNet_RemoveCustomerAccountLinks
 * @copyright   Copyright (c) 2013 integer_net GmbH (http://www.integer-net.de/)
 * @license     http://opensource.org/licenses/osl-3.0.php Open Software Licence 3.0 (OSL-3.0)
 * @author      Christian Philipp <cp@integer-net.de>
 * @author      Viktor Franz <vf@integer-net.de>
 */

/**
 * Enter description here ...
 */
-->
<config>
    <modules>
        <IntegerNet_RemoveCustomerAccountLinks>
            <version>1.1.0.0</version>
        </IntegerNet_RemoveCustomerAccountLinks>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>IntegerNet_RemoveCustomerAccountLinks_Block_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <removecustomeraccountlinks>
                <class>IntegerNet_RemoveCustomerAccountLinks_Helper</class>
            </removecustomeraccountlinks>
        </helpers>
        <models>
            <removecustomeraccountlinks>
                <class>IntegerNet_RemoveCustomerAccountLinks_Model</class>
            </removecustomeraccountlinks>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <integernet_navigation>
                    <file>integernet_navigation.xml</file>
                </integernet_navigation>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <IntegerNet_RemoveCustomerAccountLinks>
                    <files>
                        <default>IntegerNet_RemoveCustomerAccountLinks.csv</default>
                    </files>
                </IntegerNet_RemoveCustomerAccountLinks>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <removecustomeraccountlinks>
            <settings>
                <remove><!-- no default page is hidden--></remove>
            </settings>
        </removecustomeraccountlinks>
    </default>
</config>