<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_RemoveCustomerAccountLinks>
            <version>1.0.0.0</version>
        </IntegerNet_RemoveCustomerAccountLinks>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>IntegerNet_RemoveCustomerAccountLinks_Block_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <removecustomeraccountlinks>
                <class>IntegerNet_RemoveCustomerAccountLinks_Helper</class>
            </removecustomeraccountlinks>
        </helpers>
        <models>
            <removecustomeraccountlinks>
                <class>IntegerNet_RemoveCustomerAccountLinks_Model</class>
            </removecustomeraccountlinks>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <integernet_navigation>
                    <file>integernet_navigation.xml</file>
                </integernet_navigation>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <IntegerNet_RemoveCustomerAccountLinks>
                    <files>
                        <default>IntegerNet_RemoveCustomerAccountLinks.csv</default>
                    </files>
                </IntegerNet_RemoveCustomerAccountLinks>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <removecustomeraccountlinks>
            <version_link>
                <v15>
                    <item>
                        <name>recurring_profiles,billing_agreements,reviews,tags,newsletter,downloadable_products,account,account_edit,address_book,orders,wishlist</name>
                        <label>sales:Recurring Profiles,sales:Billing Agreements,My Product Reviews,My Tags,Newsletter Subscriptions,My Downloadable Products,Account Dashboard,Account Information,Address Book,sales:My Orders,My Wishlist</label>
                    </item>
                </v15>
                <v16>
                    <item>
                        <name>recurring_profiles,billing_agreements,reviews,tags,newsletter,downloadable_products,account,account_edit,address_book,orders,wishlist</name>
                        <label>sales:Recurring Profiles,sales:Billing Agreements,My Product Reviews,My Tags,Newsletter Subscriptions,My Downloadable Products,Account Dashboard,Account Information,Address Book,sales:My Orders,My Wishlist</label>
                    </item>
                </v16>
                <v17>
                    <item>
                        <name>recurring_profiles,billing_agreements,reviews,tags,newsletter,downloadable_products,account,account_edit,address_book,orders,wishlist,OAuth Customer Tokens</name>
                        <label>sales:Recurring Profiles,sales:Billing Agreements,My Product Reviews,My Tags,Newsletter Subscriptions,My Downloadable Products,Account Dashboard,Account Information,Address Book,sales:My Orders,My Wishlist,oauth:My Applications</label>
                    </item>
                </v17>
            </version_link>
            <settings>
                <remove><!-- no default page is hidden--></remove>
            </settings>
        </removecustomeraccountlinks>
    </default>
</config>